.theme_default article.thread {
  padding: 25px 0;
  margin: 0 15px;
  word-wrap: break-word;
  border-top: 1px solid #364041;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}
.theme_default article.thread .post_type_is_op,
.theme_default article.thread .post_show_board {
  font-weight: bold;
  color: #000000;
}
.theme_default article.thread > header {
  overflow: hidden;
  font-family: Verdana, Arial, sans-serif;
  margin-left: 23px;
}
.theme_default article.thread > .thread_image_box {
  float: left;
  margin: 0 20px 10px 15px;
  z-index: 5;
  text-align: center;
  color: #bfbfbf;
  text-shadow: 0px 1px 0px #ffffff;
  font-size: 0.8em;
  line-height: 150%;
}
.theme_default article.thread > .thread_image_box .thread_image.is_spoiler_image {
  opacity: 0.05;
}
.theme_default article.thread > .thread_image_box .thread_image.is_spoiler_image:hover {
  opacity: 1.0;
}
.theme_default article.thread > .thread_image_box > .post_file {
  max-width: 250px;
  margin: 0 auto;
}
.theme_default article.thread > .thread_image_box > .post_file_controls {
  position: relative;
  bottom: -1px;
  margin: 0 -5px 0 -4px;
}
.theme_default article.thread > .thread_image_box > .post_file_controls .btn.parent {
  line-height: 12px;
  font-size: 12px;
}
.theme_default article.thread > .thread_tools_bottom {
  margin-left: 30px;
  padding: 6px 0px;
}
.theme_default article.thread > .thread_tools_bottom .omitted {
  color: #364041;
  font-weight: bold;
  font-size: 14px;
  position: relative;
  top: 1px;
}
.theme_default article.thread .post_controls {
  margin-left: 4px;
}
.theme_default article.thread .post_type {
  margin-left: 4px;
}
.theme_default article.thread .post_type img {
  vertical-align: middle;
}
.theme_default article.thread h2.post_title {
  font-weight: bold;
  color: #0f0c5d;
  padding: 0;
  margin: 0;
  font-size: 1em;
  display: inline;
  line-height: inherit;
}
.theme_default article.thread .post_poster_data a {
  text-decoration: underline;
}
.theme_default article.thread .post_author {
  font-weight: bold;
  color: #117743;
}
.theme_default article.thread .post_tripcode {
  font-weight: normal;
  color: #117743;
}
.theme_default article.thread .poster_hash {
  font-family: Courier New, Courier, monospace;
}
.theme_default article.thread .post_level {
  font-weight: bold;
}
.theme_default article.thread .post_level.post_level_moderator {
  color: #800080;
}
.theme_default article.thread .post_level.post_level_administrator {
  color: #ff0000;
}
.theme_default article.thread .post_level.post_level_developer {
  color: #0000f0;
}
.theme_default article.thread .backlink_list {
  font-size: 11px;
  color: #888888;
  display: none;
}
.theme_default article.thread .report_reason {
  background: #cfdffe;
  border: 1px solid #00248e;
  padding: 2px 4px;
  margin: 5px 10px 0 3px;
  overflow: hidden;
}
.theme_default article.thread .ip_reporter {
  font-size: 85%;
}
.theme_default article.thread > .report_reason {
  margin-bottom: 10px;
  max-width: 600px;
}
.theme_default article.thread > .text {
  padding: 10px 10px 10px 30px;
  word-wrap: break-word;
}
.theme_default article.thread > aside > br {
  height: 0px;
  line-height: 0px;
}
.theme_default article.thread article.post {
  margin: 0px 5px 3px 16px;
  word-break: break-word;
}
.theme_default article.thread article.stub {
  margin: 0px 5px 3px 16px;
}
.theme_default article.thread .greentext {
  color: #789922;
}
.theme_default .quote {
  color: #789922;
}
.theme_default article.thread .spoiler .greentext {
  color: black;
}
.theme_default article.thread .spoiler:hover .greentext {
  color: #789922;
}
.theme_default article.thread .backlink.op {
  border-bottom: 1px dotted #000000;
}
.theme_default article.thread .thread_form_wrap {
  border: 2px solid #364041;
  float: left;
  margin: 20px;
  padding-bottom: 20px;
}
.theme_default article.thread .thread_form {
  width: auto;
}
.theme_default article.thread:nth-of-type(1) {
  border-top: none;
}
.theme_default article .post_mod_controls {
  display: none;
}
.theme_default .post_wrapper {
  display: table-cell;
  margin: 2px 10px 2px 20px;
  margin-right: 0px;
  padding: 0 0 10px 10px;
  background: #d6f0da;
  border-bottom: 1px solid #cccccc;
}
.theme_default .post_wrapper > .text {
  padding: 7px 10px 0px 15px;
  word-wrap: break-word;
}
.theme_default .post_wrapper > .thread_image_box {
  float: left;
  text-align: center;
  color: #888888;
  margin: 0 10px 0 4px;
  font-size: 0.8em;
  line-height: 130%;
  padding-top: 5px;
  vertical-align: bottom;
}
.theme_default .post_wrapper > .thread_image_box .post_image.is_spoiler_image {
  opacity: 0.2;
}
.theme_default .post_wrapper > .thread_image_box .post_image.is_spoiler_image:hover {
  opacity: 1.0;
}
.theme_default .post .post_data {
  padding: 0 20px 0 0;
}
.theme_default .post .post_file {
  word-wrap: break-word;
  display: block;
  overflow: hidden;
  font-size: 11px;
  color: #888888;
  line-height: 18px;
  margin-top: 3px;
  margin-right: 5px;
  margin-bottom: -4px;
}
.theme_default .post .post_file .btnr {
  font-size: 10px;
}
.theme_default .post header {
  overflow: hidden;
  padding-top: 5px;
  display: -moz-inline-stack;
  font-family: Verdana, Arial, sans-serif;
  display: inline;
}
.theme_default .post.post_ghost .post_wrapper {
  border-left: 5px solid #3a533f;
}
.theme_default .post.highlight .post_wrapper {
  background: #eedbea;
}
.theme_default .backlink {
  display: inline-block;
}
.theme_default #backlink {
  box-shadow: 0px 0px 3px #333333;
  -moz-box-shadow: 0px 0px 3px #333333;
  -webkit-box-shadow: 0px 0px 3px #333333;
}
.theme_default #backlink .post {
  margin: 0;
  max-width: none;
}
.theme_default .thread_image_box .spoiler_box {
  width: 150px;
  height: 150px;
  background: #333333;
  overflow: hidden;
  background-image: url(images/missing-image.jpg);
  margin: 0 auto;
}
.theme_default .thread_image_box .spoiler_box .spoiler_box_text {
  display: block;
  color: #ffffff;
  background: red;
  padding: 8px 0;
  font-size: 16px;
  font-weight: bold;
  margin-top: 30%;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  text-transform: uppercase;
  text-shadow: none;
}
.theme_default .thread_image_box .spoiler_box .spoiler_box_text .spoiler_box_text_help {
  display: block;
  font-size: 10px;
  line-height: 10px;
}
.theme_default .thread_form_wrap {
  background: #d6f0da;
  border-bottom: 2px solid #364041;
  padding: 8px 20px 5px 20px;
}
.theme_default .thread_form {
  position: relative;
}
.theme_default .thread_form form {
  margin-bottom: 0px;
}
.theme_default .thread_form .comment_label {
  position: absolute;
  left: 560px;
  top: 11px;
  min-width: 70px;
  min-width: 16px;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  display: inline-block;
  font-weight: 400;
  height: 18px;
  line-height: 18px;
  padding: 4px 5px;
  text-align: center;
  text-shadow: 0px 1px 0px #ffffff;
  vertical-align: middle;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
}
.theme_default .thread_form select {
  margin-bottom: 5px;
  margin-right: 10px;
  border: 1px solid #cccccc;
  width: 218px;
  height: 26px;
  background: #ffffff;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
.theme_default .thread_form input[type=file] {
  margin-bottom: 5px;
  margin-right: 10px;
  border: 1px solid #cccccc;
  width: 218px;
  height: 26px;
  background: #ffffff;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  line-height: 28px;
}
.theme_default .thread_form label {
  min-width: 85px;
  color: #888888;
}
.theme_default .thread_form .rules {
  font-size: 11px;
  line-height: 10px;
  padding: 0 10px;
}
.theme_default .thread_form .rules p {
  margin-bottom: 0;
}
.theme_default .thread_form .rules li {
  line-height: 14px;
}
.theme_default ::-webkit-file-upload-button {
  margin-left: 2px;
  position: relative;
  bottom: 1px;
}
.theme_default #reply_ajax_notices {
  padding: 8px;
  margin-top: 10px;
  margin-left: 20px;
  display: none;
  clear: both;
}
.theme_default #reply_ajax_notices a {
  text-decoration: underline;
}
.theme_default #reply_ajax_notices.error {
  background: #ffc5c5;
  border: 1px solid red;
  margin-left: 0px;
  display: block;
}
.theme_default #reply_ajax_notices.success {
  background: #dffad9;
  border: 1px solid #61b84d;
  margin-left: 0px;
  display: block;
}
.theme_default #thread_o_matic > article.thread {
  border: none;
  width: 24%;
  margin: 5px 0.5%;
  float: left;
  font-size: 11px;
  line-height: 13px;
}
.theme_default #thread_o_matic > article.thread > header {
  text-align: center;
  margin: 0;
}
.theme_default #thread_o_matic > article.thread > header .post_controls {
  display: block;
  margin-top: 3px;
  margin-bottom: 2px;
}
.theme_default #thread_o_matic > article.thread > .thread_image_box {
  float: none;
  line-height: inherit;
  max-width: none;
  margin-top: 6px;
}
.theme_default #thread_o_matic > article.thread > .thread_image_box > .post_file_controls {
  display: block;
  margin-top: 3px;
}
.theme_default #thread_o_matic > article.thread > .thread_image_box .thread_image {
  max-width: 100%;
  height: auto;
  box-shadow: 0px 0px 2px #888888;
}
.theme_default #thread_o_matic > article.thread .thread_tools_bottom {
  text-align: center;
  margin: 0;
}
.theme_default #thread_o_matic > article.thread:nth-of-type(n + 5) {
  border-top: 2px solid #6a836f;
}
.theme_default .modal-label {
  float: left;
  margin-left: 10px;
  font-weight: bold;
}
.theme_default .modal-post {
  min-width: 500px;
  max-width: 500px;
}
.theme_default .modal-field {
  float: left;
  margin-left: 10px;
  padding-top: 10px;
  font-weight: bold;
}
.theme_default .modal-comment {
  min-width: 500px;
  max-width: 500px;
  min-height: 100px;
}
.theme_default .modal-password {
  min-width: 500px;
  max-width: 500px;
}
.theme_default .js_hook_realtimethread {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 10px 10px 20px;
  border-top: 1px solid #aaaaaa;
  padding: 5px;
  clear: both;
}
.theme_default .js_hook_realtimethread a.btn {
  position: relative;
  bottom: 1px;
}
.theme_default .loading {
  display: none;
  width: 100%;
  text-align: center;
  margin: auto;
}
.theme_default .spoiler,.theme_default s {
  color: #000000;
  background: #000000;
  text-decoration:none;
}
.theme_default .spoiler:hover,.theme_default s:hover {
  color: #ffffff;
  color: #eeeeee;
  text-decoration:none;
}
.theme_default .overline {
  text-decoration: overline;
}
.theme_default .strikethrough {
  text-decoration: line-through;
}
.theme_default .underline {
  text-decoration: underline;
}
.theme_default .expert {
  text-decoration: overline underline;
}
.theme_default .banned {
  color: #ff0000;
  font-weight: bold;
}
.theme_default .is_spam {
  display: none;
}
.theme_default .paginate {
  padding: 2px 10px 2px 35px;
  height: 36px;
  background: #ddebdd;
}
.theme_default .paginate a,
.theme_default .paginate span {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  border-right: 1px solid;
  border-right-color: #dddddd;
  border-right-color: rgba(0, 0, 0, 0.15);
  *border-right-color: #dddddd;
  text-decoration: none;
}
.theme_default .paginate a:hover,
.theme_default .paginate .active a {
  background-color: #c7eefe;
}
.theme_default .paginate ul {
  background: #ffffff;
  float: left;
  margin: 0;
  border: 1px solid #dddddd;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.theme_default .paginate li {
  display: inline;
}
.theme_default .paginate .disabled a,
.theme_default .paginate .disabled a:hover {
  background-color: transparent;
  color: #bfbfbf;
}
.theme_default .paginate .next a {
  border: 0;
}
.theme_default .btn-toggle-post {
  background-color: #f5f5f5;
  border: 1px solid #bbbbbb;
  display: inline-block;
  padding: 2px 6px;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  vertical-align: middle;
}
.theme_default div[class*="stub_doc_id_"] {
  display: none;
}
.theme_default .thread.stub {
  padding: 25px 0;
  margin: 0 15px;
  border-top: 1px solid #364041;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}
.theme_default .post.stub {
  margin: 0px 5px 3px 16px;
}
.theme_default .stub {
  display: none;
}
.theme_default .text-small {
  font-size: 1em !important;
}
input[type="radio"],
input[type="checkbox"] {
  margin-top: 0;
}



table.information input[type="checkbox"]:checked + label {
  background-color: lightgreen;
}
table.information td.section_header{
  background-color: #f8f8f8;
  font-weight: bold;
  color: #333;
  padding-left: 16px;
  border-bottom: 1px solid #ddd;
}
table.information input, 
table.information select {
  padding: 8px;
  color: #444;
  width: 100%;
  border: 1px solid #ccc;
  font-size: 1.1em;
  background-color: #FFF;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  transition: border-color 0.25s, background-color 0.25s;
  -webkit-transition: border-color 0.25s, background-color 0.25s;
  -ms-transition: border-color 0.25s, background-color 0.25s;
  -moz-transition: border-color 0.25s, background-color 0.25s;
  -o-transition: border-color 0.25s, background-color 0.25s;
  text-shadow: 1px 1px rgba(255,255,255,0.8);
  vertical-align: middle;
  border-radius: 3px;
}
table.information input[type="submit"]{
  display: inline-block;
  position: relative;
  box-shadow: 0px 1px #8cc94b inset;
  border: 1px solid #5d8632;
  border-radius: 3px;
  line-height: 1.0em;
  font-size: 14px;
  padding: 10px;
  color: #fff;
  margin: 4px;
  margin-left: 0px;
  width: auto;
  cursor: pointer;
  vertical-align: middle;
  text-shadow: -1px -1px #5d8632;
  font-weight: normal;
  outline: none;
  font-family: "Open Sans",Arial,Sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: 0px 1px #80b845 inset;
  border: 1px solid #699738;
  border-bottom-color: #638e35;
  border-top-color: #6f9f3b;
  color: #fff;
  text-shadow: -1px -1px #699738;
  background: #7ab042;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7ab042), color-stop(100%, #6f9f3b));
  background: -webkit-linear-gradient(top, #7ab042 0%, #6f9f3b 100%);
  background: linear-gradient(to bottom, #7ab042 0%, #6f9f3b 100%);
}

.floatDate {
    font-size: 12px;
    display: initial;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid black;
    padding-top: 2px;
    font-weight: bold;
}

.blue{
    background-color: #265a88;
    color: white;
}
.red{
    background-color: maroon;
    color: white;
}

iframe
{
  border:0;
}
/*#instantclick {
  display: none;
}*/

.rss
{
  right: 20px;
  position: absolute;
  opacity: .3;
}
.rss:hover{
  opacity:1;
}
.dropdown-right{
  right:auto;
  left:-75px;
  font-size: 12px;
}

.caret-red{
  cursor:pointer;
}
.caret-red:hover{
  color:red;

}

.affix{
  top:0px;
}

/*.tooltip{
  position:absolute;
  z-index:1001;
}*/
















/*! PhotoSwipe main CSS by Dmitry Semenov | photoswipe.com | MIT license */
/*
  Styles for basic PhotoSwipe functionality (sliding area, open/close transitions)
*/
/* pswp = photoswipe */
.pswp {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  z-index: 1500;
  -webkit-text-size-adjust: 100%;
  /* create separate layer, to avoid paint on window.onscroll in webkit/blink */
  -webkit-backface-visibility: hidden;
  outline: none; }
  .pswp * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .pswp img {
    max-width: none; }

/* style is added when JS option showHideOpacity is set to true */
.pswp--animate_opacity {
  /* 0.001, because opacity:0 doesn't trigger Paint action, which causes lag at start of transition */
  opacity: 0.001;
  will-change: opacity;
  /* for open/close transition */
  -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
          transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); }

.pswp--open {
  display: block; }

.pswp--zoom-allowed .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.pswp--zoomed-in .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab; }

.pswp--dragging .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing; }

/*
  Background is added as a separate element.
  As animating opacity is much faster than animating rgba() background-color.
*/
.pswp__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  will-change: opacity; }

.pswp__scroll-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.pswp__container,
.pswp__zoom-wrap {
  -ms-touch-action: none;
  touch-action: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

/* Prevent selection and tap highlights */
.pswp__container,
.pswp__img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

.pswp__zoom-wrap {
  position: absolute;
  width: 100%;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  /* for open/close transition */
  -webkit-transition: -webkit-transform 333ms cubic-bezier(0.4, 0, 0.22, 1);
          transition: transform 333ms cubic-bezier(0.4, 0, 0.22, 1); }

.pswp__bg {
  will-change: opacity;
  /* for open/close transition */
  -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
          transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); }

.pswp--animated-in .pswp__bg,
.pswp--animated-in .pswp__zoom-wrap {
  -webkit-transition: none;
  transition: none; }

.pswp__container,
.pswp__zoom-wrap {
  -webkit-backface-visibility: hidden; }

.pswp__item {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden; }

.pswp__img {
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  left: 0; }

/*
  stretched thumbnail or div placeholder element (see below)
  style is added to avoid flickering in webkit/blink when layers overlap
*/
.pswp__img--placeholder {
  -webkit-backface-visibility: hidden; }

/*
  div element that matches size of large image
  large image loads on top of it
*/
.pswp__img--placeholder--blank {
  background: #222; }

.pswp--ie .pswp__img {
  width: 100% !important;
  height: auto !important;
  left: 0;
  top: 0; }

/*
  Error message appears when image is not loaded
  (JS option errorMsg controls markup)
*/
.pswp__error-msg {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  margin-top: -8px;
  color: #CCC; }

.pswp__error-msg a {
  color: #CCC;
  text-decoration: underline; }




/*! PhotoSwipe Default UI CSS by Dmitry Semenov | photoswipe.com | MIT license */
/*

  Contents:

  1. Buttons
  2. Share modal and links
  3. Index indicator ("1 of X" counter)
  4. Caption
  5. Loading indicator
  6. Additional styles (root element, top bar, idle state, hidden state, etc.)

*/
/*
  
  1. Buttons

 */
/* <button> css reset */
.pswp__button {
  width: 44px;
  height: 44px;
  position: relative;
  background: none;
  cursor: pointer;
  overflow: visible;
  -webkit-appearance: none;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  float: right;
  opacity: 0.75;
  -webkit-transition: opacity 0.2s;
          transition: opacity 0.2s;
  -webkit-box-shadow: none;
          box-shadow: none; }
  .pswp__button:focus,
  .pswp__button:hover {
    opacity: 1; }
  .pswp__button:active {
    outline: none;
    opacity: 0.9; }
  .pswp__button::-moz-focus-inner {
    padding: 0;
    border: 0; }

/* pswp__ui--over-close class it added when mouse is over element that should close gallery */
.pswp__ui--over-close .pswp__button--close {
  opacity: 1; }

.pswp__button,
.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
  background: url(/default-skin/default-skin.png) 0 0 no-repeat;
  background-size: 264px 88px;
  width: 44px;
  height: 44px; }

@media (-webkit-min-device-pixel-ratio: 1.1), (-webkit-min-device-pixel-ratio: 1.09375), (min-resolution: 105dpi), (min-resolution: 1.1dppx) {
  /* Serve SVG sprite if browser supports SVG and resolution is more than 105dpi */
  .pswp--svg .pswp__button,
  .pswp--svg .pswp__button--arrow--left:before,
  .pswp--svg .pswp__button--arrow--right:before {
    background-image: url(/default-skin/default-skin.svg); }
  .pswp--svg .pswp__button--arrow--left,
  .pswp--svg .pswp__button--arrow--right {
    background: none; } }

.pswp__button--close {
  background-position: 0 -44px; }

.pswp__button--share {
  background-position: -44px -44px; }

.pswp__button--fs {
  display: none; }

.pswp--supports-fs .pswp__button--fs {
  display: block; }

.pswp--fs .pswp__button--fs {
  background-position: -44px 0; }

.pswp__button--zoom {
  display: none;
  background-position: -88px 0; }

.pswp--zoom-allowed .pswp__button--zoom {
  display: block; }

.pswp--zoomed-in .pswp__button--zoom {
  background-position: -132px 0; }

/* no arrows on touch screens */
.pswp--touch .pswp__button--arrow--left,
.pswp--touch .pswp__button--arrow--right {
  visibility: hidden; }

/*
  Arrow buttons hit area
  (icon is added to :before pseudo-element)
*/
.pswp__button--arrow--left,
.pswp__button--arrow--right {
  background: none;
  top: 50%;
  margin-top: -50px;
  width: 70px;
  height: 100px;
  position: absolute; }

.pswp__button--arrow--left {
  left: 0; }

.pswp__button--arrow--right {
  right: 0; }

.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
  content: '';
  top: 35px;
  background-color: rgba(0, 0, 0, 0.3);
  height: 30px;
  width: 32px;
  position: absolute; }

.pswp__button--arrow--left:before {
  left: 6px;
  background-position: -138px -44px; }

.pswp__button--arrow--right:before {
  right: 6px;
  background-position: -94px -44px; }

/*

  2. Share modal/popup and links

 */
.pswp__counter,
.pswp__share-modal {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none; }

.pswp__share-modal {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 10px;
  position: absolute;
  z-index: 1600;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-out;
          transition: opacity 0.25s ease-out;
  -webkit-backface-visibility: hidden;
  will-change: opacity; }

.pswp__share-modal--hidden {
  display: none; }

.pswp__share-tooltip {
  z-index: 1620;
  position: absolute;
  background: #FFF;
  top: 56px;
  border-radius: 2px;
  display: block;
  width: auto;
  right: 44px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
          transform: translateY(6px);
  -webkit-transition: -webkit-transform 0.25s;
          transition: transform 0.25s;
  -webkit-backface-visibility: hidden;
  will-change: transform; }
  .pswp__share-tooltip a {
    display: block;
    padding: 8px 12px;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px; }
    .pswp__share-tooltip a:hover {
      text-decoration: none;
      color: #000; }
    .pswp__share-tooltip a:first-child {
      /* round corners on the first/last list item */
      border-radius: 2px 2px 0 0; }
    .pswp__share-tooltip a:last-child {
      border-radius: 0 0 2px 2px; }

.pswp__share-modal--fade-in {
  opacity: 1; }
  .pswp__share-modal--fade-in .pswp__share-tooltip {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }

/* increase size of share links on touch devices */
.pswp--touch .pswp__share-tooltip a {
  padding: 16px 12px; }

a.pswp__share--facebook:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: -12px;
  right: 15px;
  border: 6px solid transparent;
  border-bottom-color: #FFF;
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  pointer-events: none; }

a.pswp__share--facebook:hover {
  background: #3E5C9A;
  color: #FFF; }
  a.pswp__share--facebook:hover:before {
    border-bottom-color: #3E5C9A; }

a.pswp__share--twitter:hover {
  background: #55ACEE;
  color: #FFF; }

a.pswp__share--pinterest:hover {
  background: #CCC;
  color: #CE272D; }

a.pswp__share--download:hover {
  background: #DDD; }

/*

  3. Index indicator ("1 of X" counter)

 */
.pswp__counter {
  position: absolute;
  left: 0;
  top: 0;
  height: 44px;
  font-size: 13px;
  line-height: 44px;
  color: #FFF;
  opacity: 0.75;
  padding: 0 10px; }

/*
  
  4. Caption

 */
.pswp__caption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 44px; }
  .pswp__caption small {
    font-size: 11px;
    color: #BBB; }

.pswp__caption__center {
  text-align: left;
  max-width: 420px;
  margin: 0 auto;
  font-size: 13px;
  padding: 10px;
  line-height: 20px;
  color: #CCC; }

.pswp__caption--empty {
  display: none; }

/* Fake caption element, used to calculate height of next/prev image */
.pswp__caption--fake {
  visibility: hidden; }

/*

  5. Loading indicator (preloader)

  You can play with it here - http://codepen.io/dimsemenov/pen/yyBWoR

 */
.pswp__preloader {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -22px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-out;
          transition: opacity 0.25s ease-out;
  will-change: opacity;
  direction: ltr; }

.pswp__preloader__icn {
  width: 20px;
  height: 20px;
  margin: 12px; }

.pswp__preloader--active {
  opacity: 1; }
  .pswp__preloader--active .pswp__preloader__icn {
    /* We use .gif in browsers that don't support CSS animation */
    background: url(preloader.gif) 0 0 no-repeat; }

.pswp--css_animation .pswp__preloader--active {
  opacity: 1; }
  .pswp--css_animation .pswp__preloader--active .pswp__preloader__icn {
    -webkit-animation: clockwise 500ms linear infinite;
            animation: clockwise 500ms linear infinite; }
  .pswp--css_animation .pswp__preloader--active .pswp__preloader__donut {
    -webkit-animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite;
            animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite; }

.pswp--css_animation .pswp__preloader__icn {
  background: none;
  opacity: 0.75;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 15px;
  top: 15px;
  margin: 0; }

.pswp--css_animation .pswp__preloader__cut {
  /* 
      The idea of animating inner circle is based on Polymer ("material") loading indicator 
       by Keanu Lee https://blog.keanulee.com/2014/10/20/the-tale-of-three-spinners.html
    */
  position: relative;
  width: 7px;
  height: 14px;
  overflow: hidden; }

.pswp--css_animation .pswp__preloader__donut {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 14px;
  height: 14px;
  border: 2px solid #FFF;
  border-radius: 50%;
  border-left-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  margin: 0; }

@media screen and (max-width: 1024px) {
  .pswp__preloader {
    position: relative;
    left: auto;
    top: auto;
    margin: 0;
    float: right; } }

@-webkit-keyframes clockwise {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes clockwise {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes donut-rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  50% {
    -webkit-transform: rotate(-140deg);
            transform: rotate(-140deg); }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0); } }

@keyframes donut-rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  50% {
    -webkit-transform: rotate(-140deg);
            transform: rotate(-140deg); }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0); } }

/*
  
  6. Additional styles

 */
/* root element of UI */
.pswp__ui {
  -webkit-font-smoothing: auto;
  visibility: visible;
  opacity: 1;
  z-index: 1550; }

/* top black bar with buttons and "1 of X" indicator */
.pswp__top-bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 44px;
  width: 100%; }

.pswp__caption,
.pswp__top-bar,
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
  -webkit-backface-visibility: hidden;
  will-change: opacity;
  -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
          transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); }

/* pswp--has_mouse class is added only when two subsequent mousemove events occur */
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
  visibility: visible; }

.pswp__top-bar,
.pswp__caption {
  background-color: rgba(0, 0, 0, 0.5); }

/* pswp__ui--fit class is added when main image "fits" between top bar and bottom bar (caption) */
.pswp__ui--fit .pswp__top-bar,
.pswp__ui--fit .pswp__caption {
  background-color: rgba(0, 0, 0, 0.3); }

/* pswp__ui--idle class is added when mouse isn't moving for several seconds (JS option timeToIdle) */
.pswp__ui--idle .pswp__top-bar {
  opacity: 0; }

.pswp__ui--idle .pswp__button--arrow--left,
.pswp__ui--idle .pswp__button--arrow--right {
  opacity: 0; }

/*
  pswp__ui--hidden class is added when controls are hidden
  e.g. when user taps to toggle visibility of controls
*/
.pswp__ui--hidden .pswp__top-bar,
.pswp__ui--hidden .pswp__caption,
.pswp__ui--hidden .pswp__button--arrow--left,
.pswp__ui--hidden .pswp__button--arrow--right {
  /* Force paint & create composition layer for controls. */
  opacity: 0.001; }

/* pswp__ui--one-slide class is added when there is just one item in gallery */
.pswp__ui--one-slide .pswp__button--arrow--left,
.pswp__ui--one-slide .pswp__button--arrow--right,
.pswp__ui--one-slide .pswp__counter {
  display: none; }

.pswp__element--disabled {
  display: none !important; }

.pswp--minimal--dark .pswp__top-bar {
  background: none; }

input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

.checklabel {
  cursor: pointer;
  text-indent: -9999px;
  width: 44px;
  height: 24px;
  background: grey;
  border-radius: 100px;
  position: relative;
}

.checklabel:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + .checklabel {
  background: #15b01a;
}

input:checked + .checklabel:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.checklabel:active:after {
  width: 28px;
}

.checkDisabled{
  background: lightgrey;
}

input:checked + .checkDisabled {
  background: lightgrey;
}

input:checked + .checkDisabled:after {
  left: 2;
  transform: translateX(-100%);
}

body {
    background-image: url(https://img.anonpone.com/images/pineapple.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}