<div class="quarter-row">
	<img src="__header_thumbnail__" id="cyoaThumbnail" alt="thumbnail">
	<ul class="navList">
		<li>[</li>
		<li><a href="/quest/__shortname__/fanart">Fanart</a>, </li>
		<li><a href="/quest/__shortname__/lewd">Lewd</a> </li>
		<li>]</li>
	</ul>
	<ul class="navList">
		<li>[</li>
		<li><a href="/quest/__shortname__/__postid__">Post</a>, </li>
		<li><a href="/quest/__shortname__/thread/__threadid__">Thread</a>, </li>
		<li><a href="/quest/__shortname__/gallery/__threadid__">Gallery</a>, </li>
		<li><a href="/quest/__shortname__/search">Search</a> </li>
		<li>]</li>
	</ul>
</div>
<input id="cyoaid" type="hidden" value="__cyoa_id__">
<input id="threadid" type="hidden" value="__threadid__">
<div class="three-quarter-row">
	<h2 class="row"><a href="/quest/__shortname__">__cyoa_title__</a></h2>
	<div class="row">__cyoa_badges__</div>
	<div id="cyoaDesc" class="row">__cyoa_desc__</div>
	<div id="stats" class="row">
		<div>Total Quest Duration:</div>
		<div>__cyoa_duration__</div>
		<div>Total Word Count:</div>
		<div>__cyoa_words__</div>
		<div>Total Quest Posts:</div>
		<div>__cyoa_posts__</div>
		<div>Avg Thread Duration:</div>
		<div>__cyoa_avgthread__</div>
		<div>Avg Word Count:</div>
		<div>__cyoa_avgwords__</div>
		<div>Avg Thread Posts:</div>
		<div>__cyoa_avgposts__</div>
		<div class="__thread_hidden__">Current Thread Duration:</div>
		<div class="__thread_hidden__">__thread_duration__</div>
		<div class="__thread_hidden__">Thread Word Count:</div>
		<div class="__thread_hidden__">__thread_words__</div>
		<div class="__thread_hidden__">Current Thread Posts:</div>
		<div class="__thread_hidden__">__thread_posts__</div>
		<div>Total Threads:</div>
		<div>__thread_count__</div>
	</div>
</div>
<div id="cyoanavbar" class="row">
	<ul class="btn-group">
		<li class="btn __prev_thread_disable__"><a id="prevThread" __prev_thread_link__>Previous Thread</a></li>
		<li class="btn __prev_post_disable__"><a id="prevPost" __prev_post_link__>Previous Post</a></li>
		<li class="btn tooltip">
			<span class="icon arrowDown">Threads</span>
			<ul class="dropdown tooltip-content bottom">
				__thread_list__
			</ul>
		</li>
		<li class="btn tooltip __post_list_disable__">
			<span class="icon arrowDown">Posts</span>
			<ul class="dropdown tooltip-content bottom">
				__post_list__
			</ul>
		</li>
		<li class="btn __next_post_disable__"><a id="nextPost" __next_post_link__>Next Post</a></li>
		<li class="btn __next_thread_disable__"><a id="nextThread" __next_thread_link__>Next Thread</a></li>
	</ul>
</div>

__cyoa_body__

<div class="row">
	<ul class="btn-group">
		<li class="btn __prev_thread_disable__"><a __prev_thread_link__>Previous Thread</a></li>
		<li class="btn __prev_post_disable__"><a __prev_post_link__>Previous Post</a></li>
		<li class="btn tooltip">
			<span class="icon arrowDown">Threads</span>
			<ul class="dropdown tooltip-content bottom">
				__thread_list__
			</ul>
		</li>
		<li class="btn tooltip __post_list_disable__">
			<span class="icon arrowDown">Posts</span>
			<ul class="dropdown tooltip-content bottom">
				__post_list__
			</ul>
		</li>
		<li class="btn __next_post_disable__"><a __next_post_link__>Next Post</a></li>
		<li class="btn __next_thread_disable__"><a __next_thread_link__>Next Thread</a></li>
	</ul>
</div>