<div class="galleryItem eighth-row" data-id="__id__" data-reveal="__link__" data-image="__image__" data-description="__title__" data-url="__url__">
    <span class="icon pin __pin_hide__"></span>
    <a href="__link__">
        <div class="galleryImage">
            <img src="__image_link__" loading="lazy"/>
        </div>
        <h5 title="__title__">__title__</h5>
    </a>
</div>