<div class="row">
	<h3>
		<a class="icon offsite" href="__archive_link__">Thread __thread_num__</a>
		Post __post_num__
	</h3>
</div>
<div id="replyPosts" class="third-row gallery">
	__reply_list__
</div>
<div id="qmPost" class="two-third-row gallery">
	__parent_image__
	__parent_post__
</div>