
<div class="postWrapper __gallery_hidden__" data-id="__post_id__" data-reveal="__post_lewd_url__" data-image="__post_image_url___" data-description="__post_id__" data-url="__post_image_url___">
    
    <header>
        <input type="checkbox" class="multiselect">
        <span class="postAuthor">__post_name__</span>
        <span class="postTripcode">__post_trip__</span>
        <span class="postTimecode">__post_time__</span>
        <span class="postNumber">No. __post_id__</span>
        <div class="tooltip">
            <span class="icon arrowDown"></span>
            <ul class="dropdown tooltip-content bottom">
                <li>
                    <a class="icon offsite" href="__post_archive_link__">FoolFukka Archive</a>
                </li>
                <li>
                    <a class="report" href="/quest/__cyoa_title__/report/__post_id__">Report</a>
                </li>
            </ul>
        </div>
    </header>
    <span class="threadImage __has_image__">
        <a href="__post_image_url___" rel="noreferrer" class="threadImageLink">
            <img src="__post_image_thumbnail__" data-reveal="__post_lewd_url__" loading="lazy">
        </a>
    </span>
    <span class="clearfix">
        __post_content__
    </span>
</div>