<div class="row">
	<span class="floatLeft">
		__page_list__
	</span>
	<span class="floatRight">
		__page_information__
	</span>
</div>
<form class="row" method="get">
	<input type="text" value="__search_text__" name="q" placeholder="Search Text">
	<input type="submit" value="Submit">
</form>
<div class="row">
	__reply_list__
</div>
<div class="row">
	__page_list__
</div>