@font-face {
	font-family: DOSf; 
	src: url('DOS.ttf') format('truetype');
}

*, *:after,*:before{
	margin:0px;
	padding:0px;
	text-align:left;
	padding:0px;
	margin:0px;
	font-weight: normal;
	border-spacing:0px;
	text-decoration:none;
	font-family: DOSf, monospace;
	font-size: 12pt;
	line-height:16px;
	word-wrap: break-word;
/*	cursor: url('IMG/CURSOR.CUR'), auto;*/
	border:0px solid #70ED95;
	color: #70ED95;
	background-color: #20222B;
}

a:not(.AC):not(:hover):not(:active),button,input,.INVERT{
	color: #20222B;
	background: #70ED95;
}

html,body{background-color:#000;}

body{
	width: 640px;
	height:400px;
	margin:auto;
	border:1px solid #AAA;
	border-radius:8px;
	padding:3px;
}

#wrapper {
	width: 640px;
	height:400px;
	overflow:hidden;
}

p{white-space:pre-wrap;}

.p_full, .p_half{
	min-height:368px;
	padding-top:32px;
	margin-bottom:400px;
	width:632px;
	padding-left:8px;
}

.p_half{
	width:360px;
}

input {
	width:168px;
	height:16px;
}
input::-ms-clear {display: none;}

nav{
	position: absolute;
	top:4px;
	height:16px;
	width:640px;
	border-bottom-width: 7px;
}
nav:after{
	width:640px;
	height:9px;
	display:block;
	content:"";
	position:absolute;
	top:23px;
}

nav a{
	border-width:0px 4px;
	margin:0px 4px;
}
/*
a:not(.AC):not(:hover):not(:active),button,input,.INVERT{
	color: #20222B;
	background: #70ED95;
}
a:hover {cursor: pointer;}*/

button{
	height:16px;
	padding: 0px 8px;
	white-space:pre;
	margin:0px;
}
button::-moz-focus-inner{padding:0px;border:0px;}

button:hover:before{
	position: relative;
	left:-3px;
	margin:0px -4px;
	content:"►";

}
button:hover:after{
/*	position: absolute;
	content:"◄";
	white-space:pre;*/
	position: relative;
	left:3px;
	margin:0px -4px;
	content:"►";
}

.AC:not(#retBut){
	padding-bottom:3px;
	position:relative;
	top:4px;
	border-top-width: 4px;
}

#pgup, #pgdn{
	width:368px;
	text-align:center;
	position:absolute;
	top:36px;
	display:none;
}

#pgdn{top:388px;}

#scrollbar{
	position:absolute;
	width:8px;
	top:36px;
/*	margin-left:632px;*/
	z-index:99;
}
#scrollbar_pos,.pgsc{position:absolute;width:8px;overflow:hidden;left:0px;}
#scrollbar_pos{cursor:move;}

#retBut, #img_attachment, .img_attachment{float:right;}

#IMG, .img_attachment{
	width:256;
	height:256;
	border-width:4px;
	margin-top:16px;
	padding:0px;
}
#IMG{
	position: absolute;
	top:40px;
	margin-left:376px;
}
img{vertical-align: bottom;}

.lable, th{text-decoration:underline;}

#PROMPT{
/*	background-color:#F00;*/
	position:absolute;
	top:52px;
	padding:16px 8px;
	height:240px;
	width:400px;
	margin:0px 112px;
	z-index:100;
}

#PROMPT:after{
	content:"";
	background-color:transparent;
	border-width:1px 2px;
	position:absolute;
	height:255px;
	width:408px;
	top:7px;
	left:2px;
	z-index:100;
}

#scrollbar{-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}

