
<div id="form" class='row panel'>
	<h3 class="header" style="max-width: 500px;margin-left:auto; margin-right:auto">__title__</h3>
	<div class="body" style="max-width: 500px;margin-left:auto; margin-right:auto">
		__form__
	</div>
</div>