<div class='half-row panel' id="activity" class="panel">
	<table class="table table-condensed body">
		<tr>
			<td>
				<form action="/admin" id="reportForm" method="POST">
					<input type="number" size="1" name="monthsInput" class="shrink" value="__months__">
					<input type="submit" class="btn shrink" name="save-months-submit" value="Change months">
				</form>
			</td>
		</tr>
		<tr>
			<th>Quest</th><th>Activity</th><th>Last update</th>
		</tr>
		__activity_table__
	</table>
	

</div>
<div class='half-row' id="settings">
	<form action="/admin" id="reportForm" method="POST" class="panel">
		<table class="table table-condensed body">
			<tr>
				<th>
					Settings
				</th>
			</tr>
			<tr>
				<td>
					Update interval: <output name="updateIntervalOutput" id="updateIntervalOutputID">__setting_update_interval_output__</output>
				</td>
				<td>
					
					<input type="range" id="updateIntervalID" name="updateInterval" min="0" max="100" value=__setting_update_interval_input__ oninput="updateIntervalOutputID.value = updateIntervalID.value"> 
					<div>
						__setting_update_interval_time__
					</div>
				</td>
			</tr>
			<tr>
				<td>
					Maintenance Mode: 
				</td>
				<td>
					<input class="toggle" type="checkbox" name="disableSite" id="disableSite" __setting_disable_site_check__><label class="togglelabel" for="disableSite">Toggle</label> 
					<input type="text" name="disableSiteReason" value="__setting_disable_site_reason__">
				</td>
			</tr>
			<tr>
				<td>
					Display Timing: 
				</td>
				<td>
					<input class="toggle" type="checkbox" name="displayTiming" id="displayTiming" __setting_disable_timing_check__><label class="togglelabel" for="displayTiming">Toggle</label>
				</td>
			</tr>
			<tr>
				<td>
					Database:
				</td>
				<td>
					Disk: <b>__db_disk_size__</b> Memory: <b>__db_memory_size__</b>
					<input class="toggle" type="checkbox" name="dbCache" id="dbCache" __setting_dbcache_check__><label class="togglelabel" for="dbCache">Toggle</label>
				</td>
			</tr>

			<tr>
				<td>
					Image Size/Amount: 
				</td>
				<td>
					Size: <b>__total_images_disk_size__</b> Amount: <b>__total_images_amount__</b>
				</td>
			</tr>
			<tr>
				<td>
					Disk Size: 
				</td>
				<td>
					Total: <b>__total_disk_size__</b>
				</td>
			</tr>
			<tr>
				<td>
					<input class="btn" type="submit" name="save-settings-submit" value="Save Settings">
				</td>
				<td></td>
			</tr>
		</table>
	</form>
</div>
