<tr>
	<td>__category__</td>
	<td><a href="/quest/__cyoa_shortname__">__cyoa_shortname__</a><a href="/admin/cyoa/__cyoa_shortname__">#</a></td>
	<td><a href="/quest/__cyoa_shortname__/post/__postid__">__postid__</a><a href="/admin/post/__cyoa_shortname__/__postid__">#</a></td>
	<td>__comment__</td>
	<td>__date__</td>
	<td>
		<form action="/admin/report" method="POST">
			<input type='hidden' name="id" value="__reportid__">
			<input type='submit' name='completeButton' value='Complete'>
		</form>
	</td>
	<td>
		<form action="/admin/action\" method="POST">
			<input type="hidden" name="cyoa_id" value="__cyoaid__">
			<input type="hidden" name="post_id" value="__postid__">
			<input type="hidden" name="report-id" value="__reportid__">
			<select name="selection" onchange="this.form.submit()">
				<option value="nan">Tools</option>
				<option value="notCanon">Mark as not Canon</option>
				<option value="notLewd">Mark as not Lewd</option>
				<option value="isLewd">Mark as Lewd</option>
				<option value="notQM">Mark as not QM</option>
				<option value="genThumb">Generate Thumbnail</option>
			</select>
		</form>
	</td>
						
</tr>