<div class="row">
	<div class='col-md-12'>
		
		<table class="table table-condensed table-striped">
			<tr colspan="5"><td>Reports</td></tr>
			<tr><th>Type</th><th>ID</th><th>Comment</th><th>Date</th></tr>
			__report_list__
		</table>
	</div>
</div>