
<style>
  #tags {
  	overflow-y: auto;
  	max-height: 500px;
  }
</style>

<div class='half-row panel'>
	<div class="body">
		__cyoa_form__
	</div>
</div>
<div id="tags" class='half-row panel __hidden_new__'>
	<div class="body panel">__tags__</div>
</div>
<div class='half-row __hidden_existing__ wrapper'>
	<div class="row panel">
		<div class="body">
			__threads_form__
		</div>
	</div>
	<div class="row panel">
		<div class="body">
			__archive_form__
		</div>
	</div>
	<div class="row panel">
		<div class="body">
			__mass_edit_form__
		</div>
	</div>
</div>

<div class='half-row panel'>
	<div class="body">
		<table>__quest_list__</table>
	</div>
</div>
<div class='half-row panel __hidden_existing__'>
	<div class="body">
		<table>__thread_list__</table>
	</div>
</div>