<tr>
	<td>
		<a href="/quest/__shortname__/post/__tid__">__tid__</a>
		<a href="/admin/cyoa/thread/__shortname__/__tid__">#</a>
	</td>
	<td>
		<form action="/admin/action" method="POST">
			<input type="hidden" name="cyoa_id" value="__cid__">
			<input type="hidden" name="post_id" value="__tid__">
			<select name="selection" onchange="this.form.submit()">
				<option value="nan">Tools</option>
				<option value="removeThread">Remove Thread</option>
				<option value="forgetThread">Forget Thread</option>
				<option value="genThreadStat">Gen Stats</option>
			</select>
		</form>
	</td>
</tr>