.fanart {
    margin-top: 1em;
}

#index-quests{
	display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 0;
}
#index-quests.small{
	grid-template-columns: repeat(6,1fr);
    grid-gap: 0;
}

#index-quests > .panel {
    background-color: var(--primary);
    min-width: 100px;
    display: flex;
    flex-flow: column;
    position: relative;
}
#index-quests.small > .panel {
    padding: 0;
    border-radius: 0;
}

#index-quests > .panel .content{
	height: 100%;
    display: flex;
    flex-flow: column;
    padding: 0 4px 4px 4px;
    margin-bottom: 5px;
}
#index-quests.small > .panel .content{
	display: none;
}
#index-quests .thumbnail{
    padding-bottom: 10px;
}
#index-quests.small .thumbnail{
    padding-bottom: 0px;
}
#index-quests img{
	height: 200px;
    object-fit: contain;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#index-quests.small img{
	object-fit: inherit;
    width: 100%;
}

#index-quests p{
	flex: 1;
}
#index-quests .links {
    position: absolute;
    z-index: 1;
}
#index-quests .links > a {
    border-radius: 0 0 5px 5px;
    color: black;
    padding: 3px;
    padding-bottom: 0px;
    font-size: 80%;
    background-color: #fff;
    cursor: pointer;
    margin-left: 5px;
    float: left;
}
#index-quests .links > a:hover{
    background-color: #888;
}
#index-quests .links > a:first-child {
    border-radius: 0 0 5px 0;
    margin-left: 0;
    font-weight: bold;
}
#index-quests a {
    text-decoration: none;
}
#index-quests .date.live {
    background-color: #265a88;
    color: #fff;
}
#index-quests p {
	padding-left: 3px;
	padding-right: 3px;
}
#index-quests .date.live:before {
    content: "LIVE ";
}
#index-quests .tooltip {
    display: inline-block;
}
#index-quests .tooltip-content{
    font-size: 100%;
}
#index-controls {
	display: flex;
    margin-bottom: 7px;
}
#index-controls .search {
	margin-left: auto;
}
#index-controls input, #index-controls select {
	padding: 5px;
}
#index-controls .grid-small,#index-controls .grid-large{
	padding-right: 4px;
    padding-bottom: 1px;
    padding-top: 5px;
    width: initial;
    margin-left: 10px;
}
#fanart {
	display: flex;
}
#fanart > img {
	width: 50%;
    max-height: 150px;
}
#index-quests .badgeList {
    text-align: center;
    margin-top: 5px;
}
#index-quests .description {
    margin-top: 5px;
}

@media screen and (max-width: 768px){
	#index-quests{
    	grid-template-columns: repeat(2,1fr);
	}
	#index-quests.small{
		grid-template-columns: repeat(4,1fr);
	}
	#index-quests.small img {
		height: 100px;
	}
    #index-quests > .panel:nth-child(4n+2),
    #index-quests > .panel:nth-child(4n+3){
        background-color: var(--tertiary);
    }
    .fanart {
        display: none;
    }
}
@media screen and (min-width: 768px){
    #index-quests > .panel:nth-child(8n+2),
    #index-quests > .panel:nth-child(8n+4),
    #index-quests > .panel:nth-child(8n+5),
    #index-quests > .panel:nth-child(8n+7){
        background-color: var(--tertiary);
    }
}
#index-quests > .panel:hover{
    background-color: rgba(0,0,0,0.20);
    transition: background-color 0.25s;
}