.galleryOverlay {
	position: fixed;
    background-color: rgba(0,0,0,0.9);
    z-index: 100;
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
    color: #CCC;
}
.galleryOverlay > .galleryContainer{
	vertical-align: middle;
	display: table-cell;
}
.galleryOverlay .galleryNext, .galleryOverlay .galleryPrevious {
	height: 100%;
    width: 200px;
    position: absolute;
    display: table;
}
.galleryOverlay .galleryNext{
	right: 0;
	/*background-image:  linear-gradient(to right, rgba(10,10,10,.1), rgba(30,30,30,.6))*/
}
.galleryOverlay .galleryPrevious{
	left: 0;
	/*background-image:  linear-gradient(to right, rgba(30,30,30,.6), rgba(10,10,10,.1))*/
}
.galleryOverlay .galleryNext:hover{
	right: 0;
	background-image:  linear-gradient(to right, rgba(10,10,10,.4), rgba(30,30,30,.9))
}
.galleryOverlay .galleryPrevious:hover{
	left: 0;
	background-image:  linear-gradient(to right, rgba(30,30,30,.9), rgba(10,10,10,.4))
}
.galleryOverlay > .galleryControls {
    position: absolute;
    width: 100%;
    padding: 5px;
    font-size: 125%;
}
.galleryOverlay .galleryControlRight {
	float: right;
    margin-right: 15px;
    margin-top: 5px;
    cursor: pointer;
    color: #CCC;
}
.galleryOverlay .galleryControlLeft {
	float: left;
    margin-left: 10px;
    margin-top: 5px;
}
.galleryOverlay .arrowLeft, .galleryOverlay .arrowRight{
	vertical-align: middle;
	display: table-cell;
	font-size: 250%;
	cursor: pointer;
}
.galleryOverlay img, .galleryOverlay video{
	max-height: 85vh;
	max-width: 100vw;
}
.galleryOverlay > .galleryContainer > a {
	max-height: 15vh;
	max-width: 100vw;
	display: block;
	font-size: 150%;
}
@media screen and (max-width: 768px){
	.galleryOverlay .galleryNext, .galleryOverlay .galleryPrevious {
	    width: 100px;
	}
}