body.overflow-disabled{
	overflow: hidden;
}
.gallery {
	display:grid; 
	grid-template-columns: repeat(7,1fr);
	margin: auto;
	margin-top: 0;
}
.gallery > .galleryItem:nth-child(odd) {
	background-color: var(--primary);
}
.gallery > .galleryItem{
	padding: 2px;
	height: 120px;
	overflow: hidden;
}
.gallery > .galleryItem:hover{
    background-color: var(--secondary);
    transition: background-color 0.25s;
}
.gallery img{
	max-width: 100%;
	max-height: 100px;
	margin: auto;
	display: block;
}
.gallery a:hover {
	text-decoration: none;
	color: var(--primary-text);
}
.gallery a {
	color: var(--primary-text);
}
.gallery > .galleryItem .pin {
	position: absolute;
    color: maroon;
    font-size: 120%;
    transform: rotateY(0deg) rotate(-45deg);
    margin-left: 5px;
}