/* structure */
@font-face {
  	font-family: Roboto;
  	src: url("https://data.anonpone.com/css/Roboto-Regular.ttf");
}
@font-face {
  	font-family: Roboto;
  	src: url("https://data.anonpone.com/css/Roboto-Black.ttf");
		font-weight: bold;
}
@font-face {
  	font-family: Icons;
  	src: url('https://data.anonpone.com/css/open-iconic.eot');
  	src: url('https://data.anonpone.com/css/open-iconic.eot?#iconic-sm') format('embedded-opentype'),
	    url('https://data.anonpone.com/css/open-iconic.woff') format('woff'), 
	    url('https://data.anonpone.com/css/open-iconic.ttf') format('truetype'), 
	    url('https://data.anonpone.com/css/open-iconic.otf') format('opentype'),
	    url('https://data.anonpone.com/css/open-iconic.svg#iconic-sm') format('svg');
  	font-weight: normal;
  	font-style: normal;
}
:root {
	--background: #eef2ff;
    --primary: rgba(0,0,255,0.05);
    --primary-text: #000;
    --secondary: rgba(0,0,255,0.15);
    --secondary-text: #333;
    --tertiary: rgba(0,0,255,0.01);
    --tertiary-text: #333;
    --button: #fff;
    --button-text: black;
}
body.yotsuba {
	--background: #ffe;
    --primary: #f0e0d6;
    --primary-text: maroon;
    --secondary: rgba(255,0,0,0.15);
    --secondary-text: #333;
    --tertiary: rgba(255,0,0,0.01);
    --tertiary-text: #333;
}
body.tomorrow {
	--background: rgb(29, 31, 33);
    --primary: rgb(40, 42, 46);
    --primary-text:rgb(197, 200, 198);
    --secondary: rgba(150,150,150,0.15);
    --secondary-text: rgb(197, 200, 198);
    --tertiary: rgba(100,100,100,0.10);
    --tertiary-text: rgb(197, 200, 198);
    --button: #333;
    --button-text: #ccc;
}
body {
	display: flex;
	background-color: var(--background);
	margin: 0;
	font-family: Roboto;
	flex-flow: wrap;
	align-items: flex-start;
	color: var(--primary-text);
}
.container{
	display:grid; 
	grid-template-columns: repeat(8,1fr);
	margin: auto;
	margin-top: 0;
    grid-gap: 20px;
}
.wrapper {
	display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-gap: 10px;
    grid-auto-rows: min-content;
}
#main-content{
	display:grid; 
	grid-template-columns: repeat(8,1fr);
    grid-gap: 10px;
}
.row {
	grid-column: 1 / -1;
}
.three-quarter-row{
	grid-column: span 6;
}
.two-third-row{
	grid-column: span 5;
}
.half-row{
	grid-column: span 4;
}
.third-row{
	grid-column: span 3;
}
.quarter-row{
	grid-column: span 2;
}
.eighth-row{
	grid-column: span 1;
}
h1, h2, h3, h4, h5 {
	text-align: center;
}
h1 {
	font-size: 4rem;
	margin-top: 0;
	margin-bottom: 0;
}
h2 {
	font-size: 3rem;
	margin-top: 0;
	margin-bottom: 0;
}
h3 {
	font-size: 2rem;
	margin-top: 0;
	margin-bottom: 0;
}
h4 {
	font-size: 1.5rem;
	margin-top: 0;
	margin-bottom: 0;
}
h5 {
	font-size: 1rem;
	margin: 0;
}
a {
	color: #337ab7;
	text-decoration: none;
}
a:focus, a:hover {
    color: #23527c;
    text-decoration: underline;
}
.floatLeft{
	float: left;
}
.floatRight{
	float: right;
	margin-left: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
#footer {
	text-align: center;
}
.table {
	width: 100%;
}
.table input, .table textarea, .table select{
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
}
.table input.shrink, .table textarea.shrink, .table select.shrink {
	width: initial;
}
.hidden {
	display: none !important;
}
.gold {
	background-color: gold !important;
}


/* icons */
.icon:before, .icon:after{
	font-family: Icons;
}
.icon.linkRss:before {
  	content: "\e0b7";
}
.icon.arrowUp:after {
  	content: "\e030";
}
.icon.arrowLeft:after {
  	content: "\e00d";
}
.icon.arrowRight:after {
  	content: "\e00e";
}
.icon.arrowDown:after{
  	content: "\e02d";
  	font-size: 75%;
	padding-left: 5px;
}
.icon.offsite:after{
  	content: "\e0ba";
  	font-size: 75%;
	padding-left: 5px;
}
.icon.stats:after {
	content: "\e018";
}
.icon.grid-large:before{
	content: "\e073";
}
.icon.grid-small:before{
	content: "\e072";
}
.icon.star:after {
	content: "\e0c2";
}
.icon.admin:after{
	content: "\e007";
}
.icon.pin:after{
	content: "\e0a8";
}
.icon.close:after{
	content: "\e0db";
}
.icon.fullscreen-open:after{
	content: "\e06d";
}
.icon.fullscreen-close:after{
	content: "\e06e";
}
.icon.globe:after{
	content: "\e06f";
}
.icon.gear:after{
	content: "\e041";
}

/* Global Navbar */
#navbar {
	display: flex;
	background-color: #222;
    padding-top: 8px;
    padding-bottom: 3px;
    font-size: 110%;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
}
#navbar>*, #navbar>*>ul a{
	padding-left: 15px;
	padding-right: 15px;
    text-decoration: none;
    color: #999;
    cursor:pointer;
}
#navbar>*>ul {
	background-color: #222;
	padding-right: 3px;
	padding-bottom: 3px;
}
#navbar>*>ul li{
	padding-top: 5px;
	padding-bottom: 3px;
	transition: padding-top 0.5s, padding-bottom 0.5s;
}
#navbar>*>ul li:hover{
	padding-top: 3px;
	padding-bottom: 5px;
}
#navbar>*:hover, #navbar>*>ul a:hover{
	color: #ddd;
}

/* Alert boxes */
#alerts>ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.error {
	color: #a94442;
	background-color: #f2dede;
	border: 1px solid #a94442;
}
.success {
	color: #38761d;
	background-color: #d9ead3;
	border: 1px solid #38761d;
}
.alertItem {
	padding: 5px;
	border-bottom: none;
}
.alertItem:last-child {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom: 1px solid;
}
.alertItem:first-child {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

/* Panels will form a box */
.panel>*:first-child{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.panel>*:last-child{
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.panel .panel {
	margin-bottom: 10px;
	position: relative;
}
.panel>.header, .panel>.footer{
	background-color: var(--secondary);
	margin: 0;
	color: var(--secondary-text);
	padding: 10px;
	display: block;
}
.panel>.body{
	background-color: var(--primary);
	color: var(--primary-text);
	padding: 10px;
}

/* Settings Menu */
#modal-settingMenu .body{
	display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3px;
}
#modal-settingMenu h5{
	display: inline;
}

/* Buttons */
.btn {
	display: inline;
    background: var(--button);
    text-align: center;
    cursor: pointer;
    color: var(--button-text);
    border-radius: 3px;
}
.btn:hover{
	background: rgba(0,0,0,0.4);
	text-decoration:none;
    transition: background-color 0.25s;
}
.btn>a, .btn>span{
	color: var(--button-text);
    width: 100%;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}
.btn>a:hover{
	color: var(--button-text);
	text-decoration:none;
}
.btn.disabled > a,.btn.disabled>span {
    color: grey;
    cursor: default;
}
.btn.disabled {
	background: white;
    cursor: default;
}
.btn.active {
	background: rgba(0,0,0,0.4);
}
.btn-group {
	padding: 0;
	padding-left: 5px;
	padding-right: 5px;
	display: flex;
	margin: 0;
}
.btn-group>.btn {
	border-radius: 0;
    width: 100%;
    margin-left: 2px;
    margin-right: 2px;
}
.btn-group.shrink > .btn {
    width: initial;
}
.btn-group.shrink > .btn > a, .btn-group.shrink > .btn > span {
    padding-right: 20px;
}
.btn-group>.btn:last-child {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	margin-right: 0;
}
.btn-group>.btn:first-child {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	margin-left: 0;
}

/* Badges */
.badge {
	display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #777;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 1px;
}
.badge:hover{
	color: #fff;
	text-decoration: none;
}
.badge.green{
	background-color: #5cb85c;
}
.badge.blue{
	background-color: #2e6da4;
}
.badge.red{
	background-color: #a94442;
}
.badge.yellow{
	background-color: #D49438;
}


/* Toggle */

.toggle{
  height: 0;
  width: 0;
  visibility: hidden;
}
table Input.toggle{
	width: 0;
}

.togglelabel {
  cursor: pointer;
  text-indent: -9999px;
  width: 44px;
  height: 19px;
  background: grey;
  border-radius: 100px;
  position: relative;
  display: inline-block;
  max-width: 100%;
  font-weight: 700;
}

.togglelabel:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 15px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

.toggle:checked + .togglelabel {
  background: #15b01a;
}

.toggle:checked + .togglelabel:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.togglelabel:active:after {
  width: 28px;
}

.toggleDisabled{
  background: lightgrey;
}

.toggle:checked + .toggleDisabled {
  background: lightgrey;
}

.toggle:checked + .toggleDisabled:after {
  left: 2;
  transform: translateX(-100%);
}

/* ======================= Utility items: These do something ================================== */

/* Tooltips */
.tooltip {
  	position: relative;
  	display: inline-block;
}
.tooltip-content {
  	display: none;
  	position: absolute;
  	background-color: #101010;
    color: white;
  	z-index: 1;
  	list-style: none;
  	width: max-content;
  	margin: 0;
  	border-radius: 4px;
  	padding: 3px;
    text-align: center;
    font-size: 80%;
}
.tooltip:hover .tooltip-content {
  	display: block;
}
.tooltip.disabled:hover .tooltip-content{
	display: none;
}
.tooltip-content.bottom{
    left: 50%;
    transform: translateX(-50%);
}
.tooltip-content.top{
    left: 50%;
    transform: translate(-50%,-100%);
    top: 0;
}
.tooltip-content.left{
	left: 0;
    transform: translate(-100%,-50%);
    top: 50%;
}
.tooltip-content.right{
	right: 0;
    transform: translate(100%,-50%);
    top: 50%;
}
.dropdown.tooltip-content > li {
    text-align: left;
}
.dropdown.tooltip-content > li:hover, .dropdown.tooltip-content > li.selected {
    background: RGBA(255,255,255,0.3);
}
.dropdown.tooltip-content > li > a {
    text-decoration: none;
    padding: 2px 5px 2px 5px;
    font-size: 1.2em;
    width: 100%;
    display: block;
}
.dropdown.tooltip-content > li > a:hover {
    color: #337ab7;
}

/* Creates dropdowns via checkboxes */
.checkbox_hider{
	position: absolute;
    z-index: 5; 
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    min-height: 2em; 
    opacity: 0;
	cursor: pointer;
	border: 0;
}
.panel>.checkbox_hidden{
	max-height: 0;
	overflow: hidden;
	padding: 0;
	transition: max-height 0.25s,padding 0.25s;
	border: 0px;
}
.checkbox_selector{
	cursor: pointer;
}
.checkbox_hider:checked + .checkbox_hidden {
    max-height: 200px;
    padding: 10px;
	transition: max-height 1s,padding 1s;
}

/* Models via the anchor and target element */
.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, .7);
  transition: all .4s;
  z-index: 100;
  display: flex;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal > .content {
  border-radius: 4px;
  position: relative;
  max-width: 90%;
  background: var(--background);
  display: grid;
}

.modal > .content .close {
	text-decoration: none;
	color: var(--primary-text);
}

.modal h5, .modal h4, .modal h3{
	display: inline;
}

/* ======================= Mobile ================================== */
@media screen and (max-width: 768px){
	#navbar {
		flex-direction: column;
	    position: initial;
	}
	#navbar>* {
		padding-top: 7px;
		padding-bottom: 7px;
		font-size: 1.5rem;
	}
	#navbar .tooltip-content{
		position: inherit;
	}
	.container, #main-content {
		grid-template-columns: repeat(4,1fr);
	}
}
@media screen and (min-width: 768px) and (max-width: 992){
	.container {
		width: 750px;
	}
}
@media screen and (min-width: 992px) and (max-width: 1200px){
	.container {
	    width: 970px;
	}
}
@media screen and (min-width: 1200px){
	.container {
	    width: 1170px;
	}
}
