.navList {
	list-style-type: none;
    margin: 0;
    padding: 0;
}
.navList > li {
	display: inline;
}
#cyoaThumbnail{
    max-height: 300px;
    max-width: 100%;
}
#stats{
	display: grid;
    grid-auto-columns: minmax(100px, max-content);
    grid-template-columns: repeat(6,auto);
    grid-column-gap: 5px;
    font-size: 0.9em;
    margin-top: 5px;
}
#stats :nth-child(odd) {
	font-weight: bold;
}
#stats > div {
    border-top: 1px solid #ddd;
    padding: 2px 0 2px 0;
}
#cyoaDesc{
	margin-top: 10px;
	margin-bottom: 10px;
}


#qmPost a > img, #qmPost video{
    max-width: 100%;
    max-height: 600px;
}
.postWrapper{
    background-color: var(--primary);
    min-width: 100px;
    position: relative;
    border-radius: 2px;
    margin-bottom: 5px;
    padding: 10px;
}
.postWrapper .postAuthor {
    color:  #117743;
    font-weight: bold;
}
.postWrapper .postTripcode {
    color: #117743;
}
.postWrapper .threadImage{
    float: left;
    margin-right: 10px;
}
.postWrapper .threadImage img{
    max-height: 100px;
    max-width: 100px;
}
.postWrapper .quote {
    color: #789922;
}
.dunno-bro{
    height: 400px;
}