<div class='row'>
	<h2>Advice from Horse Readers and Writers</h2>
</div>
<div class='half-row'>
	<div class="panel">
		<h4 class="header">
			Preparation
		</h4>
		<div class="body">
			<div class="panel">
				<label class="header checkbox_selector">
					<h5>Read up on existing quests</h5>
				</label>
				<input type="checkbox" class="checkbox_hider" checked="checked" />
				<div class="body checkbox_hidden">
					Read a quest or two. Play a quest for a thread or two. You don't have to follow other quests mark for mark, but getting the feel for what players expect is useful.
				</div>
			</div>
			<div class="panel">
				<label class="header checkbox_selector">
					<h5>Decide on a writing style</h5>
				</label>
				<input type="checkbox" class="checkbox_hider" />
				<div class="body checkbox_hidden">
					Comedy, horror, SoL, action, mystery, etc. Don't juggle too many unless you know you can handle it.
				</div>
			</div>
			<div class="panel">
				<label class="header checkbox_selector">
					<h5>Do I have to be good at art?</h5>
				</label>
				<input type="checkbox" class="checkbox_hider" />
				<div class="body checkbox_hidden">
					No. Text quests are some of the most beloved quests.
				</div>
			</div>
			<div class="panel">
				<label class="header checkbox_selector">
					<h5>Drawing</h5>
				</label>
				<input type="checkbox" class="checkbox_hider" />
				<div class="body checkbox_hidden">
					Find a style that allows you to put out drawings fairly quickly. A limited pallete or even black and white is perfectly acceptable.
				</div>
			</div>
			<div class="panel">
				<label class="header checkbox_selector">
					<h5>Take your time</h5>
				</label>
				<input type="checkbox" class="checkbox_hider" />
				<div class="body checkbox_hidden">
					Take as much time as you like. Play around with characters and ideas. But don't let it become a thing that is forever put off.
				</div>
			</div>
		</div>
	</div>
</div>
<div class='half-row'>
	<div class="panel">
		<h4 class="header">
			Planning
		</h4>
		<div class="body">
			<div class="panel">
				<label class="header checkbox_selector">
					<h5>Write everything down</h5>
				</label>
				<input type="checkbox" class="checkbox_hider" checked="checked" />
				<div class="body checkbox_hidden">
					Scrawl down all of your ideas for events, characters, and settings. You'll want to remember them later.
				</div>
			</div>
			<div class="panel">
				<label class="header checkbox_selector">
					<h5>Plotline</h5>
				</label>
				<input type="checkbox" class="checkbox_hider"/>
				<div class="body checkbox_hidden">
					Make sure your plotline is loosely defined. Somewhere along the line your players will push off your carefully laid rails, you need to be able to handle that.
				</div>
			</div>
			<div class="panel">
				<label class="header checkbox_selector">
					<h5>Make your own thing</h5>
				</label>
				<input type="checkbox" class="checkbox_hider"/>
				<div class="body checkbox_hidden">
					Sure, have a mechanic pulled from here or an idea from there, but make sure everything has your own flair to it. If you take something make it your own.
				</div>
			</div>
			<div class="panel">
				<label class="header checkbox_selector">
					<h5>Schedule</h5>
				</label>
				<input type="checkbox" class="checkbox_hider"/>
				<div class="body checkbox_hidden">
					Either keep on a schedule or inform your thread of when the next session will be.
				</div>
			</div>
			<div class="panel">
				<label class="header checkbox_selector">
					<h5>Drawing advice</h5>
				</label>
				<input type="checkbox" class="checkbox_hider"/>
				<div class="body checkbox_hidden">
					The Draw General is a good place to ask what people thinks of your drawings.
				</div>
			</div>
			<div class="panel">
				<label class="header checkbox_selector">
					<h5>Open world</h5>
				</label>
				<input type="checkbox" class="checkbox_hider"/>
				<div class="body checkbox_hidden">
					Open worlds are not an excuse to foist everything onto the players. Even if the world is their oyster you need to give them things to react to. Characters, events, situations, whatever. Blank canvases are boring.
				</div>
			</div>
		</div>
	</div>
</div>
<div class='half-row'>
	<div class="panel">
		<h4 class="header">
			Mechanics
		</h4>
		<div class="body">
			<div class="panel">
				<label class="header checkbox_selector">
					<h5>Rolls</h5>
				</label>
				<input type="checkbox" class="checkbox_hider" checked="checked" />
				<div class="body checkbox_hidden">
					Use them if you want, they're better suited to comedy over serious quests.
				</div>
			</div>
			<div class="panel">
				<label class="header checkbox_selector">
					<h5>Visibility</h5>
				</label>
				<input type="checkbox" class="checkbox_hider"/>
				<div class="body checkbox_hidden">
					Many players prefer that mechanics not be visible for immersion reasons. Which also gives QMs the ability to fudge rolls however they like whenever they want. However, as long as you establish visibility early on you can do it either way.
				</div>
			</div>
			<div class="panel">
				<label class="header checkbox_selector">
					<h5>Results</h5>
				</label>
				<input type="checkbox" class="checkbox_hider"/>
				<div class="body checkbox_hidden">
					Remember that actions should modify the results. It should be harder to fail with a good plan than with a bad plan.
				</div>
			</div>
			<div class="panel">
				<label class="header checkbox_selector">
					<h5>RPG style battles</h5>
				</label>
				<input type="checkbox" class="checkbox_hider"/>
				<div class="body checkbox_hidden">
					Make it clear from early on that you're doing this.
				</div>
			</div>
		</div>
	</div>
</div>
<div class='half-row'>
	<div class="panel">
		<h4 class="header">
			Characters
		</h4>
		<div class="body">
			<div class="panel">
				<label class="header checkbox_selector">
					<h5>Stereotypes aren't good</h5>
				</label>
				<input type="checkbox" class="checkbox_hider" checked="checked" />
				<div class="body checkbox_hidden">
					Stereotypes are usually boring. While they can work in some contexts a character will generally need other traits to keep them interesting.
				</div>
			</div>
			<div class="panel">
				<label class="header checkbox_selector">
					<h5>Stereotypes aren't bad</h5>
				</label>
				<input type="checkbox" class="checkbox_hider"/>
				<div class="body checkbox_hidden">
					Having a character start as a stereotype isn't inherently a bad thing. But make sure they develop somewhere along the line.
				</div>
			</div>
			<div class="panel">
				<label class="header checkbox_selector">
					<h5>Don't write long backstories</h5>
				</label>
				<input type="checkbox" class="checkbox_hider"/>
				<div class="body checkbox_hidden">
					Quite frankly, it's better to keep it in “I grew up on X, I liked doing X on my childhood so I am relatively good at it”. Develop them as the quest develops.
				</div>
			</div>
			<div class="panel">
				<label class="header checkbox_selector">
					<h5>Blank Slate MCs</h5>
				</label>
				<input type="checkbox" class="checkbox_hider"/>
				<div class="body checkbox_hidden">
					A blank slate isn't an excuse to let the players handle all characterization. If you use a blank slate then you need to make sure to take the players' direction from characterization and then continue it even when they stop. A blank slate MC should no longer be blank very quickly.
				</div>
			</div>
			<div class="panel">
				<label class="header checkbox_selector">
					<h5>Races</h5>
				</label>
				<input type="checkbox" class="checkbox_hider"/>
				<div class="body checkbox_hidden">
					Use whatever races you want canon or otherwise, but establish early on whether you're going to have non-canon races. If all you've seen are unicorns, pegasus, and earth ponies a satyr will be jarring.
				</div>
			</div>
		</div>
	</div>
</div>
<div class='half-row'>
	<div class="panel">
		<h4 class="header">
			Questing
		</h4>
		<div class="body">
			<div class="panel">
				<label class="header checkbox_selector">
					<h5>Your players are idiots</h5>
				</label>
				<input type="checkbox" class="checkbox_hider" checked="checked" />
				<div class="body checkbox_hidden">
					Your players will completely ignore or not understand what you're trying to spell out for them.
				</div>
			</div>
			<div class="panel">
				<label class="header checkbox_selector">
					<h5>Your players are geniuses</h5>
				</label>
				<input type="checkbox" class="checkbox_hider"/>
				<div class="body checkbox_hidden">
					Your players will see right through everything you're trying to hide or your clever plot trick immediately. 
				</div>
			</div>
			<div class="panel">
				<label class="header checkbox_selector">
					<h5>Your players are Sheogorath</h5>
				</label>
				<input type="checkbox" class="checkbox_hider"/>
				<div class="body checkbox_hidden">
					Be prepared for your players to take a right at your plot and head into the wastes. That disposable NPC character? Prepare for them to marry it.
				</div>
			</div>
			<div class="panel">
				<label class="header checkbox_selector">
					<h5>Fake choices are worse than no choices</h5>
				</label>
				<input type="checkbox" class="checkbox_hider"/>
				<div class="body checkbox_hidden">
					Finding out that the last several choices were irrelevant because you were going to force a certain result is one of the most frustrating things you can do to your players.
				</div>
			</div>
			<div class="panel">
				<label class="header checkbox_selector">
					<h5>Give real options</h5>
				</label>
				<input type="checkbox" class="checkbox_hider"/>
				<div class="body checkbox_hidden">
					Don't give an option you're not willing to back up.
				</div>
			</div>
			<div class="panel">
				<label class="header checkbox_selector">
					<h5>Establish rules early</h5>
				</label>
				<input type="checkbox" class="checkbox_hider"/>
				<div class="body checkbox_hidden">
					Establish the rules early and firmly. If your quest is somewhat on rails, make sure that's clear. If you set up an exception to a rule, make sure it's fully explained.
				</div>
			</div>
			<div class="panel">
				<label class="header checkbox_selector">
					<h5>Railroading</h5>
				</label>
				<input type="checkbox" class="checkbox_hider"/>
				<div class="body checkbox_hidden">
					Railroading isn't bad. Being caught is bad. Forcing a railroad is bad.
				</div>
			</div>
			<div class="panel">
				<label class="header checkbox_selector">
					<h5>Prompts</h5>
				</label>
				<input type="checkbox" class="checkbox_hider"/>
				<div class="body checkbox_hidden">
					Prompts are some of the most important bits about your quest. There are three kinds of prompts, Strong, Weak, and Non-prompts. You want to have as many Strong prompts and no non-prompts.
					<li>Strong Prompts: Your players have distinct things to react to or goals to accomplish for the next post.</li>
					<li>Weak Prompts: You left off without any real direction or much to go off of.</li>
					<li>Non-prompts: "Next", "Continue", "Well what now?" This is commonly the result of the MC having just completed an action and the next most logical paragraph to be another character doing something.</li>
				</div>
			</div>
		</div>
	</div>
</div>
<div class='half-row'>
	<div class="panel">
		<h4 class="header">
			Technical
		</h4>
		<div class="body">
			<div class="panel">
				<label class="header checkbox_selector">
					<h5>Put 'Quest' or 'CYOA' in your subject</h5>
				</label>
				<input type="checkbox" class="checkbox_hider" checked="checked" />
				<div class="body checkbox_hidden">
					Putting Quest or CYOA in your subject allows it to be easily searched or filtered.
				</div>
			</div>
			<div class="panel">
				<label class="header checkbox_selector">
					<h5>2+ day break</h5>
				</label>
				<input type="checkbox" class="checkbox_hider"/>
				<div class="body checkbox_hidden">
					If you're going to be away for 2+ days tell your thread so your players will let it die. Threads don't need to stay up eternally.
				</div>
			</div>
			<div class="panel">
				<label class="header checkbox_selector">
					<h5>No meta talk</h5>
				</label>
				<input type="checkbox" class="checkbox_hider"/>
				<div class="body checkbox_hidden">
					Have as little meta talk as possible during your sessions. Meta arguments with players are immersion breaking. Wait until your session is done.
				</div>
			</div>
			<div class="panel">
				<label class="header checkbox_selector">
					<h5>Use a name</h5>
				</label>
				<input type="checkbox" class="checkbox_hider"/>
				<div class="body checkbox_hidden">
					Having a name when running a session or discussing your quest adds clarity to the conversation.
				</div>
			</div>
			<div class="panel">
				<label class="header checkbox_selector">
					<h5>Use a consistent subject name</h5>
				</label>
				<input type="checkbox" class="checkbox_hider"/>
				<div class="body checkbox_hidden">
					Much like having 'Quest' or 'CYOA' it allows easier searching and archiving.
				</div>
			</div>
			<div class="panel">
				<label class="header checkbox_selector">
					<h5>Back ups</h5>
				</label>
				<input type="checkbox" class="checkbox_hider"/>
				<div class="body checkbox_hidden">
					Use Dropbox, Drive, OneDrive, or Mega to back up your notes/art folder automatically. It negates any issue with switching computers whether willingly or unwillingly.
				</div>
			</div>
			<div class="panel">
				<label class="header checkbox_selector">
					<h5>Lewds</h5>
				</label>
				<input type="checkbox" class="checkbox_hider"/>
				<div class="body checkbox_hidden">
					You can post them elsewhere (imgur, dropbox, etc) and link them.
				</div>
			</div>
		</div>
	</div>
</div>
<div class='half-row'>
	<div class="panel">
		<h4 class="header">
			Archive
		</h4>
		<div class="body">
			<div class="panel">
				<label class="header checkbox_selector">
					<h5>Missing post/thread</h5>
				</label>
				<input type="checkbox" class="checkbox_hider" checked="checked" />
				<div class="body checkbox_hidden">
					Report it. It'll be added if avaliable.
				</div>
			</div>
			<div class="panel">
				<label class="header checkbox_selector">
					<h5>Non-story posts got included</h5>
				</label>
				<input type="checkbox" class="checkbox_hider"/>
				<div class="body checkbox_hidden">
					If you want to keep your archive clean, when you aren't posting a story post then change your name slightly, the archive works by name/trip matching. Otherwise report them.
				</div>
			</div>
			<div class="panel">
				<label class="header checkbox_selector">
					<h5>Archive tools</h5>
				</label>
				<input type="checkbox" class="checkbox_hider"/>
				<div class="body checkbox_hidden">
					The archive provides a few tools. The format is anonpone.com/{storyname}/{toolname} (anonpone.com/anotherday/latest):
					<li>/latest - Redirects to the latest thread, either on 4chan or on the FoolFukka archive.</li>
					<li>/first and /last - Brings up the first and last threads respectively.</li>
					<li>/fanart - A localized spot for you or others to upload fanart and references, making it easier for collection or for other people to draw your characters.</li>
					<li>/atom - An ATOM RSS feed. </li>
				</div>
			</div>
			<div class="panel">
				<label class="header checkbox_selector">
					<h5>I want to be on the archive</h5>
				</label>
				<input type="checkbox" class="checkbox_hider"/>
				<div class="body checkbox_hidden">
					The archive is hosted by Amm. He'll add it when he feels it's appropriate, which is usually after a few sessions to make sure you're going to keep going.
				</div>
			</div>
			<div class="panel">
				<label class="header checkbox_selector">
					<h5>I want to ask you something</h5>
				</label>
				<input type="checkbox" class="checkbox_hider"/>
				<div class="body checkbox_hidden">
					Post in CYOA Discussion or use the contact page. I try to answer most of the questions I get.
				</div>
			</div>
			<div class="panel">
				<label class="header checkbox_selector">
					<h5>Chans</h5>
				</label>
				<input type="checkbox" class="checkbox_hider"/>
				<div class="body checkbox_hidden">
					This archive works for any 4chan or 8chan board from /mlp/ to /trash/ to /pone/ to /qu/.
				</div>
			</div>
			<div class="panel">
				<label class="header checkbox_selector">
					<h5>How are Updates/Session and Update/Time calculated?</h5>
				</label>
				<input type="checkbox" class="checkbox_hider"/>
				<div class="body checkbox_hidden">
					Update: Multiple posts within 5 minutes of each other are counted as 1 update. If there is a 3+ hour gap between two updates 
		      		the second is considered a new session. This is calculated based off of the last five threads of a quest.
				</div>
			</div>
			<div class="panel">
				<label class="header checkbox_selector">
					<h5>How do the streams notifications work?</h5>
				</label>
				<input type="checkbox" class="checkbox_hider"/>
				<div class="body checkbox_hidden">
					Add 'cyoa' to your stream channel tags and you'll appear on the top bar. Add the url for a quest to the tags to be displayed in relation to the quest. So in Alchemy Quest's case he should add 'alchemy'. This isn't just for QMs, it's for CYOA artists and streamers in general.
				</div>
			</div>
		</div>
	</div>
</div>
<div class='half-row'>
	<div class="panel">
		<h4 class="header">
			Archive
		</h4>
		<div class="body">
			<p>
			Not everyone is bound to succeed, but that does not mean you should not try. No one is sure that their idea will take off and become something larger.
			No one knows what direction their story will go. No one knows how they will deal with the people who criticise their work, or the people who praise it. 
			</p>
			<p>
			You could have a plan. You could write out every conceivable choice that your players might make down to the "T". You could map out the entire world and all of its tribes, citites, monsters
			and mountains. You could have the most thrilling, interesting and lovable story to tell.
			</p>
			<p>
			But you can't know unless you try.<br/>
			You might fail, and it might really hurt.<br/>
			But one failure doesn't mean that you will always fail.<br/>
			And one success doesn't guarentee continued success.<br/>
			But if you don't try, you'll never acheive anything.<br/>
			Not everyone is bound to succeed, but that doesn't mean you shouldn't <b>try</b>.
			</p>
		</div>
	</div>
</div>