<div class="panel row">
	<h2 class="header">API</h2>
	<div class="body">
		<p>The API to access the database is pretty bloody simple.</p>

		<div class="panel row">
			<div class="body">The following will list every CYOA on the website and its ID.</div>
			<div class="footer">__website_url__api/cyoa</div>
		</div>
		<div class="panel row">
			<div class="body">The following will display the information of a single CYOA.</div>
			<div class="footer">__website_url__api/cyoa/{cyoa_id}</div>
		</div>
		<div class="panel row">
			<div class="body">The following will list the LIVE status of each CYOA included in a comma seperated list. When combined with the latest redirect (__website_url__anonpone/latest) alows the detection and linking to live threads.</div>
			<div class="footer">__website_url__api/cyoa/status/{cyoa_id},{cyoa_id},...</div>
		</div>
		<div class="panel row">
			<div class="body">The following will list every thread found using the search patterns of a specific CYOA, specified by its ID.</div>
			<div class="footer">__website_url__api/threads/{cyoa_id}</div>
		</div>
		<div class="panel row">
			<div class="body">The following will list every post found using the thread id and cyoa id of a CYOA. There is a final variable that will specify whether to display only QM posts or not. 'true' or blank will display only QM posts, 'false' will display all posts.</div>
			<div class="footer">__website_url__api/thread/{cyoa_id}/{thread_id}/{true|false</div>
		</div>
		<div class="panel row">
			<div class="body">The following will display the information for a single post.</div>
			<div class="footer">__website_url__api/post/{cyoa_id}/{post_id}</div>
		</div>
		<div class="panel row">
			<div class="body">The following will display the fanart for a quest.</div>
			<div class="footer">__website_url__api/fanart/{cyoa_id}</div>
		</div>
		<div class="panel row">
			<div class="body">The following will display the latest X amount of fanart for all quests.</div>
			<div class="footer">__website_url__api/fanart/new/{number of items}</div>
		</div>

		<div class="panel row">
			<h3 id="streaming" class="header">Streaming</h3>
			<div class="body">
				<p>
					QMs streaming on Picarto can display that they're streaming on Anonpone by putting 'cyoa' and the shortname (<?php echo \Config::get('website/url'); ?>custos/ would be 'custos') of their quest in their streaming tags.
				</p>
				<p>
					An additional streaming feature is the last QM post. It will display the post number, image, or time since the last post for the quest specified. This can be layered on the screen with most streaming software, allowing streamers to display their lasts posts.
				</p>
			</div>
			<div class="footer">__website_url__api/last/{post|time|image}/{cyoa_id}</div>
		</div>
	</div>
</div>