<div class='row'>
	<h1>Contact Me</h1>
</div>
<div class='row'>
	<p>
		Contact me if there are any special situations that need to be dealt with, don't want your CYOA included, have an error to report, or a feature to suggest.
		Missing posts, missing threads, included trash posts, and other such things are covered by the report feature. The report feature can be accessed on any post via the caution symbol next to the post number.
		Supported chans include 8chan and 4chan.
		<!-- Contact me if there are missed posts, missed threads, included trash posts, if you want to include another CYOA, 
		don't want your CYOA included, have an error to report, a feature to suggest, or if you're just a swell guy. 
		This isn't especially limited to /mlp/. If you have a CYOA from another board that you'd like to see on here 
		feel free to suggest it. -->
	</p>
	<p>
		If you have a thread/post specific request, make sure to include the story, thread, and post number in your message.
	</p>
</div>
<div id="form" class='row'>__form__</div>