<div class="panel __hidden__" data-id="__id__">
	<div class="links">
		<a title="Last Active" class="date" href="/quest/__shortname__/latest">__date__</a><!--
	  --><a title="RSS Feed" class="icon linkRss __rss_hidden__" href="/quest/__shortname__/atom"></a><!--
	--><a class="tooltip">
			<span class="icon stats"></span>
			<span class="tooltip-content bottom">__stats__</span>
		</a><!--
	--></div>
	
	<a class="thumbnail" href="/quest/__shortname__"><img loading="lazy" src="__image__" /></a>
	<div class="content">
		<ul class="btn-group">
			<li class="btn"><a class="icon arrowLeft" href="/quest/__shortname__/post/first"></a></li>
			<li class="btn"><a class="icon arrowRight"  href="/quest/__shortname__/post/last"></a></li>
		</ul>
		<h4>__title__</h4>
		<div class="badgeList">__tags__</div>
		<p class="description">__desc__</p>
	</div>
</div>