<div class='row'>
	<h1>Pony Quests</h1>
</div>
<div class='three-quarter-row'>
	<p>
		This website exists as a gathering of quests from pony imageboards. 
		A quest is a collective adventure story with one storyteller and many players.
		Rather than having to sift through one of the archives and finding the relevant posts, the posts (and replies) are provided for you 
		with straightforward navigation.
		Anyone can suggest any quest they want to appear on the archive with the contact form.
	</p>
	<p>
		<li>Navigation support: Swipe (mobile), arrow keys, and hjkl.</li>
		<li>Quests update every minute.</li>
		<li>Quests remain 'active' for 1 month.</li>
		<li>Quests are 'LIVE' as long as they have a thread up.</li>
	</p>
</div>
<div class="quarter-row panel fanart">
	<h4 class="header">Latest Fanart</h4>
    <a href="/all" id="fanart" class="body">
    	__fanarts__
    </a>
</div>
<div class="row">
	<div id="index-controls"></div>
	<div id="index-quests" class="container">__cells__</div>
</div>
